<div class="proyectos">
    <ul class="proyectos__contenedor">

        <li>
            <mat-card>
                <img mat-card-image loading="lazy" src="assets/img/proyectos/app-semana7/01.jpeg" />
                <mat-card-header>
                    <mat-card-title>Sistema de registro e información para evento académico</mat-card-title>
                    <mat-card-subtitle>- Fullstack -</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="texto-descripcion">
                        Aplicación web con frontend en Angular y backend en .NET para registrar a los participantes
                        y divulgar información relevante del evento académico de
                        la 7ma Semana de Mecatrónica y 1ra Semana de Ingeniería de la UPIIZ – IPN.
                        <br>
                        Proyecto desplegado en Azure y en desarrollo activo.
                    </p>
                    <mat-divider></mat-divider>
                    <p class="texto-tecnologias">
                        <br>
                        JavaScript, HTML/CSS, Angular, Material UI, C#, .NET, ASP.NET Core, Entity Framework, SQL
                        Server, Microsoft Azure
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button (click)="abrirDialogoDetalles(0)">Detalles</a>
                    <a mat-button href="https://semanasieteapp.azurewebsites.net/pages/inicio" target="_blank">Página en
                        línea</a>
                </mat-card-actions>
            </mat-card>
        </li>

        <!-- Card Semana Mecatronica -->
        <li>
            <mat-card>
                <img mat-card-image loading="lazy" src="assets/img/proyectos/app-users/01.jpeg" />
                <mat-card-header>
                    <mat-card-title>Página web tipo plantilla para evento académico</mat-card-title>
                    <mat-card-subtitle>- Frontend -</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="texto-descripcion">
                        Plantilla web desarrollada para la 7ma Semana de Mecatrónica y 1ra Semana de Ingeniería de la
                        UPIIZ – IPN.
                        <br>
                        Construida con Angular y Angular Material, presenta un diseño responsivo, moderno y adaptable.
                        Sirvió como prototipo para definir la estructura visual del sitio final y motivó el desarrollo
                        de futuras aplicaciones relacionadas con el evento.
                    </p>
                    <mat-divider></mat-divider>
                    <p class="texto-tecnologias">
                        <br>
                        JavaScript, HTML/CSS, Angular, Material UI
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button (click)="abrirDialogoDetalles(1)">Detalles</a>
                    <a mat-button href="https://github.com/AlanJafetRL/AppUsers" target="_blank">Repositorio</a>
                    <a mat-button
                        href="https://appsemanamecatronica-erfdhtf5g3g6a6fb.centralus-01.azurewebsites.net/pages/inicio"
                        target="_blank">Página en
                        línea</a>
                </mat-card-actions>
            </mat-card>
        </li>

        <!-- Card App Sistema de Ventas -->
        <li>
            <mat-card>
                <img mat-card-image loading="lazy" src="assets/img/proyectos/app-sistema/02.jpeg" />
                <mat-card-header>
                    <mat-card-title>Aplicación Web para Sistema de Ventas</mat-card-title>
                    <mat-card-subtitle>- Frontend -</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="texto-descripcion">
                        Frontend desarrollado en Angular y Angular Material para un sistema de ventas con roles de
                        usuario, dashboard, gestión de productos/usuarios, historial de ventas y generación de reportes.
                        <br>
                        Enfocado en arquitectura modular y consumo eficiente de API RESTful.
                    </p>
                    <mat-divider></mat-divider>
                    <p class="texto-tecnologias">
                        <br>
                        JavaScript, TypeScript, HTML/CSS, Angular, Material UI
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button (click)="abrirDialogoDetalles(2)">Detalles</a>
                    <a mat-button href="https://github.com/AlanJafetRL/AppSistemaVenta" target="_blank">Repositorio</a>
                    <a mat-button href="https://sistemaventaweb-hjd5f7dwgah9crfy.centralus-01.azurewebsites.net/"
                        target="_blank">
                        Página en línea
                    </a>
                </mat-card-actions>
            </mat-card>
        </li>

        <!-- Card API Sistema de Ventas -->
        <li>
            <mat-card>
                <img mat-card-image loading="lazy" src="assets/img/proyectos/api-sistema/01.png" />
                <mat-card-header>
                    <mat-card-title>API RESTful para Sistema de Ventas</mat-card-title>
                    <mat-card-subtitle>- Backend -</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="texto-descripcion">
                        Backend desarrollado en .NET con arquitectura por capas. API RESTful documentada con Swagger,
                        incluye autenticación por roles, gestión de usuarios/productos, dashboard y reportes.
                        <br>
                        Uso avanzado de LINQ, IoC y programación orientada a objetos.
                    </p>
                    <mat-divider></mat-divider>
                    <p class="texto-tecnologias">
                        <br>
                        C#, .NET, ASP.NET Core, Entity Framework, SQL Server
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button (click)="abrirDialogoDetalles(3)">Detalles</a>
                    <a mat-button href="https://github.com/AlanJafetRL/APISistemaVenta" target="_blank">Repositorio</a>
                </mat-card-actions>
            </mat-card>
        </li>

        <!-- Card Portafolio -->
        <li>
            <mat-card>
                <img mat-card-image loading="lazy" src="assets/img/proyectos/app-portafolio/01.jpeg" />
                <mat-card-header>
                    <mat-card-title class="titulos">Portafolio Profesional Web</mat-card-title>
                    <mat-card-subtitle>- Frontend -</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="texto-descripcion">
                        Portafolio profesional desarrollado con Angular y Material UI. Cuenta con diseño limpio,
                        responsivo y efectos de desplazamiento.
                        <br>
                        Mientras lo desarrollaba, aprendí a desplegar mis proyectos (frontend, backend y bases de datos)
                        en Azure, mejorando mis conocimientos en infraestructura y despliegue web.
                    </p>
                    <mat-divider></mat-divider>
                    <p class="texto-tecnologias">
                        <br>
                        JavaScript, HTML/CSS, Angular, Material UI
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button (click)="abrirDialogoDetalles(4)">Detalles</a>
                    <a mat-button href="https://github.com/AlanJafetRL/Portafolio" target="_blank">Repositorio</a>
                </mat-card-actions>
            </mat-card>
        </li>
    </ul>

</div>