<div class="proyectos">
    <ul class="proyectos__contenedor">
        <li>
            <mat-card>
                <img mat-card-image loading="lazy" src="assets/img/capturas/semana-mecatronica/AppUsers-01.jpeg" />
                <mat-card-header>
                    <mat-card-title>Plantilla para la Semana de la Mecatronica</mat-card-title>
                    <mat-card-subtitle>Aplicacion web</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="texto-descripcion">
                        Pagina para fablisurcfhnalsdfhnalsmkd awohfinasdlkfn alsdnuf alksdnhf asdf mhsfd alks mdhflaknse
                        fmlakshdflniawefn lksdjhnf lakjshdf lanksdmf
                    </p>
                    <mat-divider></mat-divider>
                    <p class="texto-tecnologias">
                        <br>
                        JavaScript, HTML/CSS, Angular, Material UI
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button (click)="abrirDialogoDetalles(0)">Detalles</a>
                    <a mat-button href="https://github.com/AlanJafetRL/AppUsers" target="_blank">Repositorio</a>
                    <a mat-button href="https://alanjafetrl.github.io/AppUsers/pages/inicio"
                        target="_blank">Página en línea</a>
                </mat-card-actions>
            </mat-card>
        </li>

        <li>
            <mat-card>
                <img mat-card-image loading="lazy" src="assets/img/capturas/semana-mecatronica/AppUsers-02.jpeg" />
                <mat-card-header>
                    <mat-card-title>Plantilla para la Semana de la Mecatronica</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="texto-descripcion">
                        Pagina para fablisurcfhnalsdfhnalsmkd awohfinasdlkfn alsdnuf alksdnhf asdf mhsfd alks mdhflaknse
                        fmlakshdflniawefn lksdjhnf lakjshdf lanksdmf
                    </p>
                    <mat-divider></mat-divider>
                    <p class="texto-tecnologias">
                        <br>
                        JavaScript, HTML/CSS, Angular, Material UI
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button (click)="abrirDialogoDetalles(1)">Detalles</a>
                    <a mat-button href="https://github.com/AlanJafetRL/AppUsers" target="_blank">Repositorio</a>
                    <a mat-button href="https://alanjafetrl.github.io/AppUsers/pages/inicio"
                        target="_blank">Página en línea</a>
                </mat-card-actions>
            </mat-card>
        </li>

        <li>
            <mat-card>
                <img mat-card-image loading="lazy" src="assets/img/capturas/semana-mecatronica/AppUsers-02.jpeg" />
                <mat-card-header>
                    <mat-card-title>Plantilla para la Semana de la Mecatronica</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="texto-descripcion">
                        Pagina para fablisurcfhnalsdfhnalsmkd awohfinasdlkfn alsdnuf alksdnhf asdf mhsfd alks mdhflaknse
                        fmlakshdflniawefn lksdjhnf lakjshdf lanksdmf
                    </p>
                    <mat-divider></mat-divider>
                    <p class="texto-tecnologias">
                        <br>
                        JavaScript, HTML/CSS, Angular, Material UI
                    </p>
                </mat-card-content>
            </mat-card>
        </li>
    </ul>

</div>