<h2 mat-dialog-title>Plantilla para la 7ma Semana de la Mecatronica</h2>

<mat-dialog-content>
    <p>Algo de texto y carrusel de imagenes por aqui</p>


    <p>Algo de texto y carrusel de imagenes por aqui</p>

</mat-dialog-content>

<mat-dialog-actions>
    <a mat-button href="https://github.com/AlanJafetRL/AppUsers" target="_blank">Repositorio</a>
    <a mat-button href="https://alanjafetrl.github.io/AppUsers/pages/inicio" target="_blank">Página en línea</a>
    <button mat-button mat-dialog-close>Volver</button>
</mat-dialog-actions>