@use '@angular/material' as mat;

//--- Animaciones ---//

// Animación para menú en moviles //
@keyframes mostrarMenu {
    from {
        opacity: 0;
        scale: 90%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes ocultarMenu {
    from {
        opacity: 1;
        scale: 100%;
    }

    to {
        opacity: 0;
        scale: 90%;
    }
}

.menu-anim-show {
    animation: mostrarMenu 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-anim-hide {
    animation: ocultarMenu 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}


// Animación para elementos en pantalla //
@keyframes mostrarElementos {
    from {
        opacity: 50%;
        scale: 80%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}


//--- Globales ---//
h1 {
    font: var(--mat-sys-display-large);
}

h2 {
    font: var(--mat-sys-display-medium);
}

.texto-grande,
h3 {
    font: var(--mat-sys-title-large);
}

h1,
h2,
.texto-grande,
button {
    view-timeline-name: --reveal;

    animation-name: mostrarElementos;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 10% cover 50%;
}

.fondo-contacto {

    h2,
    button {
        animation-range: entry 0% cover 15%;
    }
}

//--- Media queries ---//
@media (width >=768px) {

    .nav__target,
    .nav__links {
        z-index: -20;
        display: none;
    }
}


@media (width < 768px) {
    h1 {
        font: var(--mat-sys-display-medium);
    }

    h2 {
        font: var(--mat-sys-display-small);
    }

    .texto-grande,
    h3 {
        font: var(--mat-sys-title-medium);
    }

    .contenedor-sobremi__tecnologias-btns {
        font: var(--mat-sys-label-medium);
    }



    .cuadro-superior {
        //background: orange;
        justify-content: space-between;

        mat-toolbar {
            display: none;
        }

        .nav__target {
            display: flex;
            z-index: 10;

            .btn-menu {
                background: var(--mat-sys-primary);
                color: var(--mat-sys-on-primary);
                box-shadow: var(--mat-sys-level5);
            }
        }


        .nav__links {
            display: grid;
            position: fixed;
            top: 80px;
            place-items: center;
            z-index: 10;

            background-color: var(--mat-sys-primary);
            box-shadow: var(--mat-sys-level5);
            border-radius: 15px;

            .nav {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: auto;

                .nav-items {
                    //background: red;
                    background: var(--mat-sys-primary);
                    color: var(--mat-sys-on-primary);
                    box-shadow: var(--mat-sys-level4);
                    margin: 15px;
                    width: auto;

                    &_text {
                        color: var(--mat-sys-on-primary);
                    }
                }

                .activated {
                    box-shadow: var(--mat-sys-level0);
                }
            }
        }


    }
}

//-- Estilos --//

.total {
    height: 100vh;
}

.cuadro-superior {
    z-index: 10;
    //background: orange;
    height: 70px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    mat-toolbar {
        //background: red;
        position: absolute;
        width: auto;
        justify-content: center;

        background: var(--mat-sys-primary);
        color: var(--mat-sys-on-primary);
        box-shadow: var(--mat-sys-level5);
        border-radius: 20px;

        .nav {
            //background: green;
            display: flex;
            align-items: center;

            &-items {
                //background: red;
                background: var(--mat-sys-primary);
                color: var(--mat-sys-on-primary);
                box-shadow: var(--mat-sys-level4);
                margin: 15px;
                width: auto;

                &_text {
                    color: var(--mat-sys-on-primary);
                }
            }

            .activated {
                box-shadow: var(--mat-sys-level0);
            }
        }

    }

}

mat-sidenav-container {
    height: 100vh;

    .content {
        height: 100%;
        border: 0;
        margin: 0;
        display: grid;
        scroll-behavior: smooth;

        #seccion-1 {
            background: var(--mat-sys-primary-container);

            .fondo-inicio {
                height: 800px;
                box-shadow: var(--mat-sys-level5);
                background: var(--mat-sys-primary);
                color: var(--mat-sys-on-primary);

                border-bottom-left-radius: 30% 15px;
                border-bottom-right-radius: 90% 25%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                .logos-trabajo {
                    //background: red;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    div {
                        padding: 10px 10px 0 10px;

                        img {
                            width: 25px;
                        }
                    }
                }
            }
        }

        #seccion-2 {
            background: var(--mat-sys-surface);

            .fondo-sobremi {
                height: auto;
                padding-top: 160px;
                padding-bottom: 160px;
                box-shadow: var(--mat-sys-level5);
                background: var(--mat-sys-primary-container);
                color: var(--mat-sys-on-primary-container);

                border-bottom-left-radius: 90% 25%;
                border-bottom-right-radius: 30% 15px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                .contenedor-sobremi {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: left;

                    width: 60%;

                    &__tecnologias {
                        display: inline;
                        justify-content: center;
                        text-align: center;
                        flex-grow: 1;
                        flex-basis: 200;

                        &-btns {
                            margin: 3px;
                        }
                    }
                }
            }
        }

        #seccion-3 {
            background: var(--mat-sys-surface);

            .fondo-proyectos {
                //background: red;
                height: auto;
                padding-top: 160px;
                padding-bottom: 160px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

        #seccion-4 {
            background: var(--mat-sys-surface);

            .fondo-contacto {
                height: auto;
                padding-top: 30px;
                padding-bottom: 30px;
                //box-shadow: var(--mat-sys-level5);
                background: var(--mat-sys-inverse-surface);
                color: var(--mat-sys-inverse-on-surface);

                border-radius: 25px 25px 0 0;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                .img-correo {
                    border-radius: 60px;
                    height: 60px;
                    //background: var(--mat-sys-primary);
                    color: var(--mat-sys-on-primary);
                }

                .contenedor-contacto {
                    //background: green;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    flex-wrap: wrap;
                    gap: 15px;

                    li {
                        //background: red;
                        display: flex;
                        flex-direction: row;
                        justify-items: center;
                        justify-content: center;

                        padding: 10px 10px;
                        flex-grow: 1;

                        button {
                            margin: 3px;
                        }
                    }


                    &__btn {
                        padding: 10px 10px;
                    }
                }

                .logos-trabajo {
                    //background: red;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding-top: 25px;

                    div {
                        padding: 10px 10px 0 10px;

                        img {
                            width: 25px;
                        }
                    }
                }
            }
        }

    }
}