<div class="total">
    <div class="cuadro-superior">
        <mat-toolbar style="z-index: 10;">
            <mat-nav-list class="nav">
                <a mat-list-item class="nav-items" *ngFor="let item of menuItems()" href="#{{item.section}}"
                    [class.activated]="seccionActiva == item.section">
                    <span matListItemTitle class="nav-items_text">{{item.label}}</span>
                </a>
            </mat-nav-list>
        </mat-toolbar>
    </div>

    <mat-sidenav-container>
        <mat-sidenav-content #cuadro class="content">
            <section id="seccion-1" style="height: auto; z-index: 9;">
                <div class="fondo-inicio">
                    <h1>¡Hola! Soy Alan Jafet</h1>
                    <h2>Desarrollador FullStack</h2>
                    <mat-progress-bar mode="buffer" style="width: 30%;"></mat-progress-bar>
                    <div class="logos-trabajo">
                        <div matTooltip="Visita mi perfil de LinkedIn">
                            <a href="https://www.linkedin.com/in/alan-jafet-rojas-lopez/" target="_blank">
                                <img src="assets/img/logos/linkedin.png" />
                            </a>
                        </div>

                        <div>
                            <a matTooltip="Visita mi perfil de GitHub" href="https://github.com/AlanJafetRL"
                                target="_blank">
                                <img src="assets/img/logos/github.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="seccion-2" style="height: auto; z-index: 8;">
                <div class="fondo-sobremi">
                    <h2>Sobre mi</h2>
                    <div class="contenedor-sobremi">
                        <p class="texto-grande">
                            Soy Alan Jafet Rojas López. <br>
                            Ingeniero en Mecatrónica enfocado en desarrollo web.
                            <br> <br>
                            Me especializo en crear aplicaciones web funcionales, escalables y bien estructuradas,
                            aplicando principios SOLID y buenas prácticas de arquitectura. He desarrollado proyectos de
                            forma independiente, fortaleciendo habilidades clave como la autogestión, la organización y
                            la resolución de problemas.
                            <br> <br>
                            Actualmente, busco oportunidades para seguir creciendo como desarrollador, explorando nuevas
                            tecnologías, inteligencia artificial y patrones de diseño, mientras aporto valor real a los
                            equipos y proyectos en los que participo.
                        </p>
                        <div class="contenedor-sobremi__tecnologias">
                            
                                <a *ngFor="let item of tecnologiasItems()" href="{{item.linkWiki}}" target="_blank">
                                    <button mat-stroked-button >
                                        {{item.label}}
                                    </button>
                                </a>
                                
                            
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section id="seccion-3" style="height: auto; z-index: 7;">
                <div class="fondo-tecnologias">
                    <h1>Tecnologías</h1>
                </div>

            </section> -->

            <section id="seccion-3" style="height: auto; z-index: 6;">
                <div class="fondo-proyectos">
                    <h1>Proyectos</h1>
                </div>

            </section>

            <section id="seccion-4" style="z-index: 9;">
                <h1>Seccion 5</h1>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>


</div>
<!-- 
<mat-toolbar>
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav  opened="true" mode="side" [style.width]="sidenavWidth()">
        <app-custom-sidenav [collapsed]="collapsed()"/>
    </mat-sidenav>

    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <section id="seccion-1" style="height: 1500px; background: aqua;">
            <h1>Seccion 1</h1>
        </section>

        <section id="seccion-2" style="height: 1500px; background: red;">
            <h1>Seccion 2</h1>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>

 -->