<div class="total">
    <div class="cuadro-superior">
        <mat-toolbar style="z-index: 11;">
            <mat-nav-list class="nav">
                <a mat-list-item class="nav-items" *ngFor="let item of menuItems()" href="#{{item.section}}"
                    [class.activated]="seccionActiva == item.section">
                    <span matListItemTitle class="nav-items_text">{{item.label}}</span>
                </a>
            </mat-nav-list>

        </mat-toolbar>

        <a class="nav__target" (click)="toggleMenu()">
            <button mat-fab class="btn-menu"> <mat-icon>menu</mat-icon> </button>
        </a>

        <div class="nav__links" *ngIf="menuAbierto" [class.menu-anim-show]="menuAbierto"
            [class.menu-anim-hide]="!menuAbierto">
            <mat-nav-list class="nav">
                <a mat-list-item class="nav-items" *ngFor="let item of menuItems()" href="#{{item.section}}"
                    (click)="toggleMenu()">
                    <span matListItemTitle class="nav-items_text">{{item.label}}</span>
                </a>
            </mat-nav-list>

        </div>

    </div>

    <mat-sidenav-container>
        <mat-sidenav-content #cuadro class="content">
            <section id="seccion-1" style="height: auto; z-index: 9;">
                <div class="fondo-inicio">
                    <h1>¡Hola! Soy Alan Jafet</h1>
                    <h2>Desarrollador FullStack</h2>
                    <mat-progress-bar mode="buffer" style="width: 30%;"></mat-progress-bar>
                    <div class="logos-trabajo">
                        <div matTooltip="Visita mi perfil de LinkedIn">
                            <a href="https://www.linkedin.com/in/alan-jafet-rojas-lopez/" target="_blank">
                                <img src="assets/img/logos/linkedin.png" />
                            </a>
                        </div>

                        <div>
                            <a matTooltip="Visita mi perfil de GitHub" href="https://github.com/AlanJafetRL"
                                target="_blank">
                                <img src="assets/img/logos/github.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="seccion-2" style="height: auto; z-index: 8;">
                <div class="fondo-sobremi">
                    <h2>Sobre mí</h2>
                    <div class="contenedor-sobremi">
                        <p class="texto-grande">
                            Soy Alan Jafet Rojas López. <br>
                            Ingeniero en Mecatrónica enfocado en desarrollo web.
                            <br> <br>
                            Me especializo en crear aplicaciones web funcionales, escalables y bien estructuradas,
                            aplicando principios SOLID y buenas prácticas de arquitectura. He desarrollado proyectos de
                            forma independiente, fortaleciendo habilidades clave como la autogestión, la organización y
                            la resolución de problemas.
                            <br> <br>
                            Actualmente, busco oportunidades para seguir creciendo como desarrollador, explorando nuevas
                            tecnologías, inteligencia artificial y patrones de diseño, mientras aporto valor real a los
                            equipos y proyectos en los que participo.
                        </p>
                        <div class="contenedor-sobremi__tecnologias">
                            <a class="contenedor-sobremi__tecnologias-btns" mat-stroked-button *ngFor="let item of tecnologiasItems()" href="{{item.linkWiki}}"
                                target="_blank">
                                {{item.label}}
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="seccion-3" style="height: auto; z-index: 7;">
                <div class="fondo-proyectos">
                    <h2>Proyectos</h2>
                    <app-proyectos id="seccion-3" style="width: 100%;"></app-proyectos>
                </div>

            </section>

            <section id="seccion-4" style="height: auto; z-index: 6;">
                <div class="fondo-contacto">
                    <h2>Contacto</h2>
                    <img class="img-correo" src="assets/img/correo.png">
                    <ul class="contenedor-contacto">
                        <li>
                            <button matTooltip="Copiar dirección de correo" mat-raised-button matTooltipPosition="left"
                                (click)="copiarCorreoAlPortapapeles()">
                                Copiar
                            </button>
                        </li>
                        <li>
                            <a matTooltip="Abrir en tu app de correo" href="mailto:alanjafet.rl@gmail.com"
                                matTooltipPosition="right" target="_blank">
                                <button mat-raised-button (click)="redirigirAppDeCorreo()">
                                    Redirigir
                                </button>
                            </a>
                        </li>
                    </ul>
                    <div class="logos-trabajo">
                        <div matTooltip="Visita mi perfil de LinkedIn" matTooltipPosition="left">
                            <a href="https://www.linkedin.com/in/alan-jafet-rojas-lopez/" target="_blank">
                                <img src="assets/img/logos/linkedin.png" />
                            </a>
                        </div>

                        <div>
                            <a matTooltip="Visita mi perfil de GitHub" matTooltipPosition="right"
                                href="https://github.com/AlanJafetRL" target="_blank">
                                <img src="assets/img/logos/github.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>


</div>