<h2 mat-dialog-title>Fullstack - Aplicación web con sistema de registro e información para evento académico</h2>

<mat-dialog-content>
    <div class="contenedor-carousel">
        <app-carousel [items]="carouselData"></app-carousel>
    </div>

    <div class="contenedor-descripcion">
        <p style="text-align: center; font-style: italic;">
            <br>
            Actualmente en evolución, en espera de retroalimentación para continuar con mejoras.
            <br>
            <br>
            <mat-divider style="margin: 0 5% 0 5%;"></mat-divider>
        </p>
        <p>
            Plataforma web desarrollada con Angular y .NET que integra dos aplicaciones en un solo sitio: una para los
            asistentes del evento y otra para el equipo organizador (staff).
            <br>
            La primera permite consultar información clave sobre conferencias, talleres y eventos recreativos, así como
            realizar el preregistro y registro al evento.
            <br>
            La segunda funciona como un sistema de control con autenticación por roles (admin/staff) y permite gestionar
            usuarios, alumnos registrados, asistencias, reportes y más contenido editable.

            <br>
            <br>
            El sistema fue diseñado de forma escalable, implementa arquitectura por capas, buenas prácticas de
            seguridad, validaciones, separación de responsabilidades y comunicación eficiente entre frontend y backend.
            <br>
            La autenticación se gestiona con JWT y los menús y accesos se ajustan dinámicamente según el rol del
            usuario.

            <br>
            <br>
            El backend está construido con .NET 8, ASP.NET Core, Entity Framework Core y SQL Server. La API RESTful
            aplica principios SOLID, patrón DTO, y control de acceso mediante autorización por roles.
            <br>
            El frontend está construido con Angular, Angular Material y RxJS, incluyendo animaciones, lazy loading,
            guards, interceptores, formularios reactivos y diseño responsivo.

            <br>
            <br>
            Desplegado en Azure como una versión funcional para presentación al cliente y pruebas en entorno real.
        </p>
        <mat-divider style="margin: 0 30% 0 30%;"></mat-divider>
        <p style="text-align: center; font-style: italic;">
            <br>
            Tecnologías: Angular, RxJS, TypeScript, SCSS, Angular Material, .NET 8, ASP.NET Core, Entity Framework, SQL
            Server, JWT, Azure
        </p>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <a mat-button href="https://semanasieteapp.azurewebsites.net/pages/inicio" target="_blank">Página en línea</a>
    <button mat-button mat-dialog-close>Volver</button>
</mat-dialog-actions>